[theme~="badge"] {
  background-color: var(--tag-blue-bg);
  border-radius: var(--lumo-size-m);
  color: var(--tag-blue-color);
  font-size: var(--lumo-font-size-xs);
  font-weight: normal;
  line-height: 1rem;
  padding: var(--lumo-space-xxs) var(--lumo-space-xs);
}

[theme~="badge"][theme~="error"] {
  background-color: var(--tag-red-bg);
  color: var(--tag-red-color);
}

[theme~="badge"][theme~="magenta"] {
  background-color: var(--tag-magenta-bg);
  color: var(--tag-magenta-color);
}

[theme~="badge"][theme~="purple"] {
  background-color: var(--tag-purple-bg);
  color: var(--tag-purple-color);
}

[theme~="badge"][theme~="cyan"] {
  background-color: var(--tag-cyan-bg);
  color: var(--tag-cyan-color);
}

[theme~="badge"][theme~="teal"] {
  background-color: var(--tag-teal-bg);
  color: var(--tag-teal-color);
}

[theme~="badge"][theme~="success"] {
  background-color: var(--tag-green-bg);
  color: var(--tag-green-color);
}

[theme~="badge"][theme~="contrast"] {
  background-color: var(--tag-gray-bg);
  color: var(--tag-gray-color);
}

[theme~="badge"][theme~="cool-gray"] {
  background-color: var(--tag-cool-gray-bg);
  color: var(--tag-cool-gray-color);
}

[theme~="badge"][theme~="warm-gray"] {
  background-color: var(--tag-warm-gray-bg);
  color: var(--tag-warm-gray-color);
}

[theme~="badge"][class~="disabled"] {
  background-color: var(--tag-disabled-bg);
  color: var(--tag-disabled-color);
}

/* === Button === */

[theme~="badge"] vaadin-button {
  --button-color: currentColor;
  --button-hover-color: currentColor;
  --button-focus: inset 0 0 0 1px var(--focus-color);
  border: none;
  border-radius: var(--lumo-size-xs);
  height: var(--lumo-size-xs);
  margin: calc(var(--lumo-space-xxs) * -1) calc(var(--lumo-space-xs) * -1) calc(var(--lumo-space-xxs) * -1) var(--lumo-space-xxxs);
  width: var(--lumo-size-xs);
}

[theme~="badge"] vaadin-button {
  --button-hover-bg: var(--tag-blue-hover-bg);
}

[theme~="badge"][theme~="error"] vaadin-button {
  --button-hover-bg: var(--tag-red-hover-bg);
}

[theme~="badge"][theme~="magenta"] vaadin-button {
  --button-hover-bg: var(--tag-magenta-hover-bg);
}

[theme~="badge"][theme~="purple"] vaadin-button {
  --button-hover-bg: var(--tag-purple-hover-bg);
}

[theme~="badge"][theme~="cyan"] vaadin-button {
  --button-hover-bg: var(--tag-cyan-hover-bg);
}

[theme~="badge"][theme~="teal"] vaadin-button {
  --button-hover-bg: var(--tag-teal-hover-bg);
}

[theme~="badge"][theme~="success"] vaadin-button {
  --button-hover-bg: var(--tag-green-hover-bg);
}

[theme~="badge"][theme~="contrast"] vaadin-button {
  --button-hover-bg: var(--tag-gray-hover-bg);
}

[theme~="badge"][theme~="cool-gray"] vaadin-button {
  --button-hover-bg: var(--tag-cool-gray-hover-bg);
}

[theme~="badge"][theme~="warm-gray"] vaadin-button {
  --button-hover-bg: var(--tag-warm-gray-hover-bg);
}
