vaadin-notification-card flow-component-renderer {
  flex-grow: 1;
}

/* === Close button === */

vaadin-notification-card vaadin-button[theme~="icon"] {
  --button-color: var(--notification-color);
  --button-hover-bg: transparent;
  --button-hover-color: var(--notification-color);
  --button-active-bg: transparent;
  --button-active-color: var(--notification-color);
  --button-focus: inset 0 0 0 2px var(--notification-focus-color, var(--focus-color));
}

/* === Icon === */

vaadin-notification-card vaadin-icon:not(vaadin-button vaadin-icon) {
  color: var(--notification-icon-color);
}
