[slot='drawer'] nav a {
  color: var(--lumo-secondary-text-color);
  text-decoration: none;
}

[slot='drawer'] nav a:hover {
  background-color: var(--hover-bg);
  color: var(--lumo-body-text-color);
}

[slot='drawer'] nav a[highlight] {
  background-color: var(--lumo-shade-10pct);
  color: var(--lumo-body-text-color);
  font-weight: 600;
}

[slot='drawer'] nav a[highlight]::before {
  background-color: var(--lumo-primary-color);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: var(--lumo-space-xxs);
}
