vaadin-notification-card flow-component-renderer {
  flex-grow: 1;
}

/* === Close button === */

vaadin-notification-card vaadin-button[theme~="icon"] {
  --button-color: var(--gray-100);
  --button-hover-bg: transparent;
  --button-hover-color: var(--gray-100);
  --button-active-bg: transparent;
  --button-active-color: var(--gray-100);
}

vaadin-notification-card[theme~="dark"] vaadin-button[theme~="icon"] {
  --button-color: white;
  --button-hover-color: white;
  --button-active-color: white;
}

vaadin-notification-card[theme~="dark"] vaadin-button[theme~="icon"][focused] {
  box-shadow: inset 0 0 0 2px var(--focus-color);
}

/* === Notification icon === */

vaadin-notification-card iron-icon.text-warning {
  color: var(--yellow-30);
  position: relative;
  z-index: 0;
}

vaadin-notification-card iron-icon.text-warning::before {
  background-color: black;
  content: "";
  height: 1rem;
  position: absolute;
  width: 0.5rem;
  z-index: -1;
}
