@import url('./main-layout.css');
@import url('lumo-css-framework/all-classes.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

html {
    --lumo-font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

    --lumo-font-size-xxs: 0.75rem;
    --lumo-font-size-xs: 0.75rem;
    --lumo-font-size-s: 0.875rem;
    --lumo-font-size-m: 1rem;
    --lumo-font-size-l: 1.125rem;
    --lumo-font-size-xl: 1.25rem;
    --lumo-font-size-xxl: 1.5rem;
    --lumo-font-size-xxxl: 1.75rem;

    --lumo-space-xxxs: 0.125rem;
    --lumo-space-xxs: 0.25rem;
    --lumo-space-xs: 0.5rem;
    --lumo-space-s: 0.75rem;
    --lumo-space-m: 1rem;
    --lumo-space-l: 1.5rem;
    --lumo-space-xl: 2.0rem;
    --lumo-space-xxl: 2.5rem;

    --lumo-size-xs: 1.5rem;
    --lumo-size-s: 2rem;
    --lumo-size-m: 2.5rem;
    --lumo-size-l: 3rem;
    --lumo-size-xl: 4rem;
    --lumo-size-xxl: 5rem;

    --lumo-icon-size-m: 1rem;
    --lumo-icon-size-l: 1.25rem;

    --lumo-border-radius-s: 1px;
    --lumo-border-radius: 0;

    --lumo-shade-5pct: #f4f4f4;
    --lumo-shade-10pct: #e0e0e0;
    --lumo-shade-20pct: #c6c6c6;
    --lumo-shade-30pct: #a8a8a8;
    --lumo-shade-40pct: #8d8d8d;
    --lumo-shade-50pct: #6f6f6f;
    --lumo-shade-60pct: #525252;
    --lumo-shade-70pct: #393939;
    --lumo-shade-80pct: #262626;
    --lumo-shade-90pct: #161616;
    --lumo-shade: #000000;

    --lumo-primary-color: #0f62fe;
    --lumo-error-color: #da1e28;

    --lumo-secondary-text-color: var(--lumo-shade-60pct);
    --lumo-disabled-text-color: var(--lumo-shade-20pct);

    /* === Fiber === */
    --hover-bg: #e5e5e5;
    --hover-text: #0043ce;
    --hover-primary-bg: #0353e9;
    --hover-contrast-bg: #4c4c4c;
    --hover-error-bg: #b81921;
    --active-bg: var(--lumo-shade-20pct);
    --active-primary-bg: #002d9c;
    --active-contrast-bg: var(--lumo-shade-50pct);
    --active-error-bg: #750e13;
}

[theme~="dark"] {
    --lumo-shade-5pct: #f4f4f4;
    --lumo-shade-10pct: #e0e0e0;
    --lumo-shade-20pct: #c6c6c6;
    --lumo-shade-30pct: #a8a8a8;
    --lumo-shade-40pct: #8d8d8d;
    --lumo-shade-50pct: #6f6f6f;
    --lumo-shade-60pct: #525252;
    --lumo-shade-70pct: #393939;
    --lumo-shade-80pct: #262626;
    --lumo-shade-90pct: #161616;
    --lumo-shade: #000000;

    --lumo-base-color: var(--lumo-shade-90pct);

    --hover-bg: #212121;
    --active-bg: #393939;
}
