@import url('./badge.css');
@import url('./button.css');
@import url('./color.css');
@import url('./item.css');
@import url('./nav.css');
@import url('./notification.css');
@import url('./tab.css');
@import url('lumo-css-framework/all-classes.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

html {
    /* === Lumo variables === */
    --lumo-font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

    --lumo-font-size-xxs: 0.75rem;
    --lumo-font-size-xs: 0.75rem;
    --lumo-font-size-s: 0.875rem;
    --lumo-font-size-m: 1rem;
    --lumo-font-size-l: 1.125rem;
    --lumo-font-size-xl: 1.25rem;
    --lumo-font-size-xxl: 1.5rem;
    --lumo-font-size-xxxl: 1.75rem;

    --lumo-space-xxxs: 0.125rem;
    --lumo-space-xxs: 0.25rem;
    --lumo-space-xs: 0.5rem;
    --lumo-space-s: 0.75rem;
    --lumo-space-m: 1rem;
    --lumo-space-l: 1.5rem;
    --lumo-space-xl: 2.0rem;
    --lumo-space-xxl: 2.5rem;

    --lumo-size-xs: 1.5rem;
    --lumo-size-s: 2rem;
    --lumo-size-m: 2.5rem;
    --lumo-size-l: 3rem;
    --lumo-size-xl: 4rem;
    --lumo-size-xxl: 5rem;

    --lumo-icon-size-m: 1rem;
    --lumo-icon-size-l: 1.25rem;

    --lumo-border-radius-s: 1px;
    --lumo-border-radius: 0;

    --lumo-primary-color: var(--blue-60);
    --lumo-success-color: var(--green-60);
    --lumo-error-color: var(--red-60);
    --lumo-error-text-color: var(--red-60);

    --lumo-header-text-color: var(--gray-100);
    --lumo-body-text-color: var(--gray-100);
    --lumo-secondary-text-color: var(--gray-70);
    --lumo-disabled-text-color: var(--gray-30);

    --lumo-box-shadow-m: 0 2px 6px 0 rgba(0, 0, 0, 0.2);

    /* === Misc === */
    --numeric-font-family: IBM Plex Mono, Menlo, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier, monospace;

    --hover-bg: #e5e5e5; /* TODO: not in the palette? */
    --selected-bg: #cacaca; /* TODO: not in the palette? */
    --active-bg: var(--gray-30);

    --input-bg: var(--gray-10);
    --input-hover-bg: #e5e5e5;
    --input-disabled-bg: var(--gray-10);
    --input-focus-color: var(--blue-60);

    --button-focus: inset 0 0 0 2px var(--blue-60), inset 0 0 0 3px var(--gray-10);

    --button-color: var(--blue-60);
    --button-hover-bg: #e5e5e5; /* TODO: not in the palette? */
    --button-hover-color: var(--blue-70);
    --button-active-bg: var(--gray-30);
    --button-active-color: var(--blue-70);

    --button-disabled-bg: var(--gray-30);
    --button-disabled-color: var(--gray-50);

    --button-primary-bg: var(--blue-60);
    --button-primary-color: var(--white);
    --button-primary-hover-bg: #0353e9; /* TODO: not in the palette? */
    --button-primary-hover-color: var(--white);
    --button-primary-active-bg: var(--blue-80);
    --button-primary-active-color: var(--white);

    --button-contrast-bg: var(--gray-80);
    --button-contrast-color: var(--white);
    --button-contrast-hover-bg: #4c4c4c; /* TODO: not in the palette? */
    --button-contrast-hover-color: var(--white);
    --button-contrast-active-bg: var(--gray-60);
    --button-contrast-active-color: var(--white);

    --button-tertiary-bg: transparent;
    --button-tertiary-color: var(--blue-60);
    --button-tertiary-hover-bg: #0353e9; /* TODO: not in the palette? */
    --button-tertiary-hover-color: var(--white);
    --button-tertiary-focus-bg: var(--blue-60);
    --button-tertiary-focus-color: var(--white);
    --button-tertiary-active-bg: var(--blue-80);
    --button-tertiary-active-color: var(--white);

    --button-error-bg: var(--red-60);
    --button-error-color: var(--white);
    --button-error-hover-bg: var(--red-60-hover); /* #b81921 vs #b81922 */
    --button-error-hover-color: var(--white);
    --button-error-active-bg: var(--red-80);
    --button-error-active-color: var(--white);

    --button-success-bg: var(--green-60);
    --button-success-color: var(--white);
    --button-success-hover-bg: var(--green-60-hover);
    --button-success-hover-color: var(--white);
    --button-success-active-bg: var(--green-80);
    --button-success-active-color: var(--white);

    --button-upload-hover-bg: transparent;
    --button-upload-hover-color: var(--blue-60);
    --button-upload-active-bg: transparent;
    --button-upload-active-color: var(--lumo-body-text-color);

    --grid-column-hover-bg: #cacaca; /* TODO: not in the palette? */

    --duration-fast: 70ms;
    --easing-standard: cubic-bezier(0.2, 0, 0.38, 0.9);
}

[theme~="dark"] {
    --lumo-base-color: var(--gray-100);
    --lumo-primary-color: var(--blue-40);
    --lumo-primary-text-color: var(--blue-40);
    --lumo-success-color: var(--green-40);
    --lumo-success-text-color: var(--green-40);
    --lumo-error-color: var(--red-50);
    --lumo-error-text-color: var(--red-40);

    --lumo-header-text-color: white;
    --lumo-body-text-color: var(--gray-10);
    --lumo-secondary-text-color: var(--gray-30);
    --lumo-disabled-text-color: var(--gray-70);

    /* === Misc colors used in Carbon === */

    --hover-bg: var(--black-hover);
    --active-bg: var(--gray-80);

    --input-bg: var(--gray-90);
    --input-hover-bg: #353535;
    --input-disabled-bg: var(--gray-90);
    --input-focus-color: #fff;

}
