@import url('./main-layout.css');
@import url('lumo-css-framework/all-classes.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

html {
    --lumo-font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

    --lumo-font-size-xxs: 0.75rem;
    --lumo-font-size-xs: 0.75rem;
    --lumo-font-size-s: 0.875rem;
    --lumo-font-size-m: 1rem;
    --lumo-font-size-l: 1.125rem;
    --lumo-font-size-xl: 1.25rem;
    --lumo-font-size-xxl: 1.5rem;
    --lumo-font-size-xxxl: 1.75rem;

    --lumo-space-xxxs: 0.125rem;
    --lumo-space-xxs: 0.25rem;
    --lumo-space-xs: 0.5rem;
    --lumo-space-s: 0.75rem;
    --lumo-space-m: 1rem;
    --lumo-space-l: 1.5rem;
    --lumo-space-xl: 2.0rem;
    --lumo-space-xxl: 2.5rem;

    --lumo-size-xs: 1.5rem;
    --lumo-size-s: 2rem;
    --lumo-size-m: 2.5rem;
    --lumo-size-l: 3rem;
    --lumo-size-xl: 4rem;
    --lumo-size-xxl: 5rem;

    --lumo-icon-size-m: 1rem;
    --lumo-icon-size-l: 1.25rem;

    --lumo-border-radius-s: 1px;
    --lumo-border-radius: 0;

    --lumo-shade-10pct: var(--gray-10);
    --lumo-shade-20pct: var(--gray-20);
    --lumo-shade-30pct: var(--gray-30);
    --lumo-shade-40pct: var(--gray-40);
    --lumo-shade-50pct: var(--gray-50);
    --lumo-shade-60pct: var(--gray-60);
    --lumo-shade-70pct: var(--gray-70);
    --lumo-shade-80pct: var(--gray-80);
    --lumo-shade-90pct: var(--gray-90);
    --lumo-shade: var(--gray-100);

    --lumo-primary-color: #0f62fe;
    --lumo-error-color: #da1e28;

    --lumo-body-text-color: var(--gray-100);
    --lumo-secondary-text-color: var(--gray-70);
    --lumo-disabled-text-color: var(--gray-30);

    /* === Fiber === */

    --blue-10: #edf5ff;
    --blue-20: #d0e2ff;
    --blue-30: #a6c8ff;
    --blue-40: #78a9ff;
    --blue-50: #4589ff;
    --blue-60: #0f62fe;
    --blue-70: #0043ce;
    --blue-80: #002d9c;
    --blue-90: #001d6c;
    --blue-100: #001141;

    --gray-10: #f4f4f4;
    --gray-20: #e0e0e0;
    --gray-30: #c6c6c6;
    --gray-40: #a8a8a8;
    --gray-50: #8d8d8d;
    --gray-60: #6f6f6f;
    --gray-70: #525252;
    --gray-80: #393939;
    --gray-90: #262626;
    --gray-100: #161616;

    --gray-10-hover: #e8e8e8;
    --gray-20-hover: #d1d1d1;
    --gray-30-hover: #b5b5b5;
    --gray-40-hover: #999999;
    --gray-50-hover: #7a7a7a;
    --gray-60-hover: #5e5e5e;
    --gray-70-hover: #636363;
    --gray-80-hover: #474747;
    --gray-90-hover: #333333;
    --gray-100-hover: #292929;

    /* === Hover === */
    --hover-bg: #e5e5e5;
    --button-hover-color: #0043ce;
    --button-primary-hover-bg: #0353e9;
    --button-contrast-hover-bg: #4c4c4c;
    --button-error-hover-bg: #b81921;
    --grid-column-hover-bg: #cacaca;

    /* === Active === */
    --active-bg: var(--gray-30);
    --button-primary-active-bg: #002d9c;
    --button-contrast-active-bg: var(--gray-60);
    --button-error-active-bg: #750e13;
}

[theme~="dark"] {
    --lumo-shade-10pct: var(--gray-10);
    --lumo-shade-20pct: var(--gray-20);
    --lumo-shade-30pct: var(--gray-30);
    --lumo-shade-40pct: var(--gray-40);
    --lumo-shade-50pct: var(--gray-50);
    --lumo-shade-60pct: var(--gray-60);
    --lumo-shade-70pct: var(--gray-70);
    --lumo-shade-80pct: var(--gray-80);
    --lumo-shade-90pct: var(--gray-90);
    --lumo-shade: var(--gray-100);

    --lumo-base-color: var(--gray-100);

    --hover-bg: #212121;
    --active-bg: var(--gray-80);
}
