[part="toggle-button"] {
    align-items: center;
    font-size: var(--lumo-icon-size-l);
    height: var(--lumo-text-field-size);
    justify-content: center;
    width: var(--lumo-text-field-size);
}

[part$="button"]:not([hidden]) {
    display: flex;
}
