:host {
    font-size: var(--lumo-font-size-s);
}

/* === Label === */

label {
    align-items: flex-start;
}

[part="label"]:not([empty]) {
    margin: 0 var(--lumo-space-m) 0 var(--lumo-space-xxs);
}

/* === Checkbox === */

[part="checkbox"] {
    background-color: var(--checkbox-bg);
    border: 1px solid var(--checkbox-border-color);
    border-radius: var(--lumo-border-radius-s);
    box-sizing: border-box;
    height: var(--lumo-icon-size-m);
    margin: var(--lumo-space-xxxs);
    width: var(--lumo-icon-size-m);
}

[part="checkbox"]::before {
    content: none;
}

[part="checkbox"]::after {
    border-color: var(--checkbox-checkmark-color);
    top: 0.625rem;
    left: 0.375rem;
}

/* === Active === */

:host([active]) [part="checkbox"] {
    transform: none;
}

/* === Hover === */

:host(:not([checked]):not([indeterminate]):not([disabled]):hover) [part="checkbox"] {
    background-color: var(--checkbox-hover-bg);
}

/* === Focus === */

:host([focus-ring]) [part="checkbox"] {
    box-shadow: none;
    outline: 2px solid var(--focus-color);
    outline-offset: 1px;
}

/* === Checked === */

:host([indeterminate]) [part="checkbox"],
:host([checked]) [part="checkbox"] {
    background-color: var(--checkbox-checked-bg);
}

/* === Disabled === */

:host([disabled]) [part="checkbox"] {
    background-color: transparent;
    border-color: var(--checkbox-disabled-border-color);
}

:host([checked][checkedchecke]) [part="checkbox"] {
    background-color: var(--checkbox-disabled-checked-bg);
}

:host([disabled]) [part="checkbox"]::after {
    border-color: var(--checkbox-checkmark-color);
}
