:host([has-controls]) [part="value"] {
    padding: 0;
}

[part="value"] {
    font-family: var(--numeric-font-family);
}

[part="decrease-button"],
[part="increase-button"] {
    color: currentColor;
    font-size: var(--lumo-icon-size-m);
    height: var(--lumo-text-field-size);
    width: var(--lumo-text-field-size);
}

[part="decrease-button"]::before,
[part="increase-button"]::before {
    font-family: inherit;
    margin-top: 0;
}

[part="decrease-button"] {
    margin-inline-start: 0;
    margin-inline-end: calc(var(--lumo-space-m) * -1);
}
