[part='drawer'] {
    background-color: white;
}

[part="navbar"],
:host([overlay]) [part="drawer"] {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

:host([overlay]) [part="drawer"],
:host([overlay]) [part="backdrop"] {
    top: var(--lumo-size-l);
}

:host([overlay]) [part="drawer"]::before {
    content: none;
}

[part="backdrop"] {
    background-color: var(--lumo-shade-90pct);
    opacity: 0.5;
}

[content] {
    background-color: var(--lumo-shade-5pct);
}
