:host {
    font-size: var(--lumo-font-size-s);
}

/* === Label === */
label {
    align-items: flex-start;
}

[part="label"] {

}

[part="label"]:not([empty]) {
    margin: 0 var(--lumo-space-m) 0 var(--lumo-space-xxs);
}

/* === Radio === */
[part="radio"] {
    background-color: transparent;
    border: 1px solid var(--gray-100);
    border-radius: var(--lumo-icon-size-m);
    box-sizing: border-box;
    height: var(--lumo-icon-size-m);
    margin: var(--lumo-space-xxxs);
    width: var(--lumo-icon-size-m);
}

[part="radio"]::before {

}

[part="radio"]::after {

}

/* === Active === */
:host([active]) [part="radio"] {
    transform: none;
}

/* === Hover === */
:host(:not([checked]):not([indeterminate]):not([disabled]):hover) [part="radio"] {
    background-color: transparent;
}

/* === Focus === */
:host([focus-ring]) [part="radio"] {
    box-shadow: none;
    outline: 2px solid var(--lumo-primary-color);
    outline-offset: 1px;
}

/* === Checked === */
:host([checked]) [part="radio"] {
    background-color: transparent;
}

[part="radio"]::after {
    border-color: var(--gray-100);
    border-width: 0.25rem;
}

/* === Disabled === */
:host([disabled]) [part="radio"] {
    background-color: transparent;
    border-color: var(--gray-30);
}

:host([disabled][checked]) [part="radio"] {
    background-color: var(--gray-30);
}

:host([disabled]) [part="radio"]::after {
    border-color: var(--lumo-primary-contrast-color);
}
