[part="items"] ::slotted(vaadin-item) {
    padding: 0 var(--lumo-space-m);
}

/* === Hover === */

[part="items"] ::slotted(vaadin-item:hover:not([disabled])) {
    background-color: var(--hover-bg);
    color: var(--lumo-body-text-color);
}

/* === Active === */

[part="items"] ::slotted(vaadin-item:active:not([disabled])) {
    background-color: var(--gray-20);
}

/* === Selection === */

[part="items"] ::slotted(vaadin-item[selected]) {
    background-color: var(--item-selected-bg) !important;
    color: var(--lumo-body-text-color);
}

/* === Focus === */

[part="items"] ::slotted([focus-ring]:not([disabled])) {
    box-shadow: inset 0 0 0 2px var(--lumo-primary-color);
}
