:host(:not([nodrop])) {
    border: none;
    padding: 0;
}

[part="primary-buttons"] > * {
    display: block;
}

[part="drop-label"] {
    display: none;
}

[part="file-list"] {
    display: flex;
    flex-direction: column;
    gap: var(--lumo-space-xxs);
}

