:host {
    --lumo-button-size: var(--lumo-size-m);
    background-color: transparent;
    border: 1px solid transparent;
    font-size: var(--lumo-font-size-s);
    font-weight: normal;
    min-width: 0;
    padding: 0 calc(var(--lumo-space-m) - 1px);
}

:host::before,
:host::after {
    content: none;
}

[part="label"] {
    padding: 0;
}

[part="label"], [part="prefix"], [part="suffix"] {
    display: flex;
    line-height: normal;
    margin: 0;
}

/* === Hover === */
:host(:hover) {
    background-color: var(--hover-bg);
    color: var(--button-hover-color);
}

/* === Active === */
:host([active]) {
    background-color: var(--active-bg);
}

/* === Primary === */
:host([theme~="primary"]) {
    font-weight: normal;
    min-width: 0;
}

:host([theme~="primary"]:hover) {
    background-color: var(--button-primary-hover-bg);
    color: var(--lumo-primary-contrast-color);
}

:host([theme~="primary"][active]) {
    background-color: var(--button-primary-active-bg);
}

/* === Contrast === */
:host([theme~="contrast"]) {
    background-color: var(--gray-80);
    color: var(--lumo-primary-contrast-color);
}

:host([theme~="contrast"]:hover) {
    background-color: var(--button-contrast-hover-bg);
}

:host([theme~="contrast"][active]) {
    background-color: var(--button-contrast-active-bg);
}

/* === Tertiary === */
:host([theme~="tertiary"]) {
    border: 1px solid var(--lumo-primary-color);
    padding: 0 calc(var(--lumo-space-m) - 1px);
}

:host([theme*="tertiary"]:hover) {
    background-color: var(--button-primary-hover-bg) !important;
    color: var(--lumo-primary-contrast-color);
}

:host([theme~="tertiary"][active]),
:host([theme~="tertiary-inline"][active]),
:host([theme*="tertiary"]:not([active]):hover) {
    opacity: 1;
}

:host([theme~="tertiary"][focused]) {
    background-color: var(--lumo-primary-color) !important;
    color: var(--lumo-primary-contrast-color);
}

:host([theme~="tertiary"][active]) {
    background-color: var(--button-primary-active-bg) !important;
}

/* === Error === */
:host([theme~="error"]) {
    background-color: var(--lumo-error-color);
    color: var(--lumo-primary-contrast-color);
}

:host([theme~="error"]:hover) {
    background-color: var(--button-error-hover-bg);
}

:host([theme~="error"][active]) {
    background-color: var(--button-error-active-bg);
}

/* === Small === */
:host([theme~="small"]) {
    --lumo-button-size: var(--lumo-size-s);
}

/* === Large === */
:host([theme~="large"]) {
    font-size: var(--lumo-font-size-s);
    --lumo-button-size: var(--lumo-size-l);
}

/* === Icon === */
:host([theme~="icon"]:not([theme~="tertiary-inline"])) {
    min-width: 0;
    padding: 0;
    width: var(--lumo-button-size);
}

:host([theme~="icon"]) [part="label"],
:host([theme~="icon"]) [part="prefix"],
:host([theme~="icon"]) [part="suffix"] {
    line-height: 1;
}

[part] ::slotted(iron-icon[icon^="vaadin:"]) {
    padding: 0;
}

:host(:not([theme~="icon"])) [part="prefix"] ::slotted(iron-icon[icon^="vaadin:"]) {
    margin: 0 var(--lumo-space-xs) 0 0;
}

:host(:not([theme~="icon"])) [part="suffix"] ::slotted(iron-icon[icon^="vaadin:"]) {
    margin: 0 0 0 var(--lumo-space-xs);
}

/* === Focus === */
:host([focused]) {
    border-color: var(--lumo-primary-color);
    box-shadow: inset 0 0 0 1px var(--lumo-primary-color), inset 0 0 0 2px var(--gray-10);
}

/* === Disabled === */
:host([disabled][disabled]) {
    background-color: var(--gray-30) !important;
    border-color: var(--gray-30);
    color: var(--gray-50);
}

/* === Upload === */
:host([theme~="upload"]) {
    border: 1px dashed var(--gray-50);
    font-size: var(--lumo-font-size-m);
    height: 6rem;
    margin: 0;
    padding: var(--lumo-space-m);
    width: 100%;
}

:host([theme~="upload"]:hover),
:host([theme~="upload"][focused]) {
    background-color: transparent;
    outline: 2px solid var(--lumo-primary-color);
    outline-offset: -2px;
    text-decoration: underline;
}

:host([theme~="upload"]:active) {
    background-color: transparent;
    color: var(--lumo-body-text-color);
}

:host([theme~="upload"][focused]) {
    box-shadow: none;
}

:host([theme~="upload"]) .vaadin-button-container {
    align-items: normal;
    justify-content: flex-start;
}

:host([theme~="upload"]) .vaadin-button-container::before {
    content: none;
}

:host([theme~="upload"]) [part="label"] {
    text-align: left;
    white-space: normal;
}
