[part="content"] {
    padding: 0;
}

[part="overlay"] {
    flex-grow: 1;
}

/* === Common === */

:host([theme~="primary"]),
:host([theme~="success"]),
:host([theme~="error"]),
:host([theme~="warning"]) {
    --_lumo-button-color: var(--lumo-body-text-color);
}

:host([theme~="primary"]) [part="overlay"],
:host([theme~="success"]) [part="overlay"],
:host([theme~="error"]) [part="overlay"],
:host([theme~="warning"]) [part="overlay"] {
    background-image: none;
    border-left: 3px solid;
    box-shadow: var(--lumo-box-shadow-m);
    color: var(--lumo-body-text-color);
}

/* === Primary === */

:host([theme~="primary"][theme~="dark"]) [part="overlay"] {
    border-color: var(--blue-50);
}
:host([theme~="primary"]) [part="overlay"] {
    background-color: var(--blue-10);
    border-color: var(--blue-60);
}

/* === Success === */

:host([theme~="success"][theme~="dark"]) [part="overlay"] {
    border-color: var(--green-40);
}
:host([theme~="success"]) [part="overlay"] {
    background-color: var(--green-10);
    border-color: var(--green-60);
}

/* === Error === */

:host([theme~="error"][theme~="dark"]) [part="overlay"] {
    border-color: var(--red-50);
}
:host([theme~="error"]) [part="overlay"] {
    background-color: var(--red-10);
    border-color: var(--red-60);
}

/* === Warning === */

:host([theme~="warning"][theme~="dark"]) [part="overlay"] {
    border-color: var(--yellow-30);
}
:host([theme~="warning"]) [part="overlay"] {
    background-color: var(--yellow-10); /* fcf4d6 vs #fdf6dd */
}

/* === Dark === */

:host([theme~="dark"]) [part="overlay"] {
    background-color: var(--gray-80);
}
