:host {
    color: var(--lumo-primary-contrast-color);
    margin: 0;
}

/* === Hover === */
:host(:hover) {
    --button-hover-bg: var(--hover-bg);
    --button-hover-color: var(--lumo-primary-contrast-color);
}

/* === Active === */
:host([active]) {
    --button-active-bg: var(--active-bg);
    --button-active-color: var(--lumo-primary-contrast-color);
}

/* === Focus === */
:host([focused]),
:host([focus-ring]) {
    box-shadow: none;
    outline: 2px solid white;
    outline-offset: -2px;
}

/* === Icon === */
[part=icon]::before {
    font-size: var(--lumo-icon-size-l);
}
