:host {
    color: var(--lumo-primary-contrast-color);
    margin: 0;
}

/* === Hover === */
:host(:hover) {
    --button-hover-bg: var(--hover-bg);
    --button-hover-color: var(--lumo-primary-contrast-color);
}

/* === Active === */
:host([active]) {
    --button-active-bg: var(--active-bg);
    --button-active-color: var(--lumo-primary-contrast-color);
}

/* === Focus === */
:host([focused]) {
    box-shadow: inset 0 0 0 2px white;
}

/* === Icon === */
[part=icon]::before {
    font-size: var(--lumo-icon-size-l);
}
