[part="toggle-button"] {
    align-items: center;
    color: currentColor;
    font-size: var(--lumo-icon-size-l);
    height: var(--lumo-text-field-size);
    justify-content: center;
    margin-inline-start: calc(var(--lumo-space-m) * -1);
    transition: transform var(--duration-fast) var(--easing-standard);
    width: var(--lumo-text-field-size);
}

[part$="button"]:not([hidden]) {
    display: flex;
}

:host([disabled]) [part$="button"],
:host([readonly]) [part$="button"] {
    display: none;
}

/* === Hover === */

:host(:not([readonly])) [part$="button"]:hover {
    color: currentColor;
}
