:host(:first-of-type) {
    padding: 0;
}

:host([opened])::after {
    background-color: var(--overlay-bg);
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    top: -4px;
    width: var(--lumo-size-m);
}

[part="overlay"] {
    background-color: var(--overlay-bg);
    background-image: none;
    box-shadow: var(--lumo-box-shadow-m);
}

[part="content"] {
    padding: 0;
}
