:host {
    --lumo-button-size: var(--lumo-size-m);
    background-color: transparent;
    color: var(--button-color);
    display: inline-flex;
    font-size: var(--lumo-font-size-s);
    font-weight: normal;
    justify-content: center;
    line-height: normal;
    min-width: 0;
    padding: 0 var(--lumo-space-m);
    transition: background-color var(--duration-fast) var(--easing-standard), box-shadow var(--duration-fast) var(--easing-standard);
}

:host::before,
:host::after {
    content: none;
}

.vaadin-button-container {
    height: auto;
    justify-content: inherit;
    min-height: 0;
}

.vaadin-button-container::before {
    content: none;
}

[part="label"] {
    padding: 0;
}

[part="label"], [part="prefix"], [part="suffix"] {
    display: flex;
    line-height: inherit;
    margin: 0;
}

/* === Primary === */

:host([theme~="primary"]) {
    --button-hover-bg: var(--button-primary-hover-bg);
    --button-hover-color: var(--button-primary-hover-color);
    --button-active-bg: var(--button-primary-active-bg);
    --button-active-color: var(--button-primary-active-color);
    background-color: var(--button-primary-bg);
    color: var(--button-primary-color);
    font-weight: normal;
    min-width: 0;
}

/* === Contrast === */

:host([theme~="contrast"]) {
    --button-hover-bg: var(--button-contrast-hover-bg);
    --button-hover-color: var(--button-contrast-color);
    --button-active-bg: var(--button-contrast-active-bg);
    --button-active-color: var(--button-contrast-active-color);
    background-color: var(--button-contrast-bg);
    color: var(--button-contrast-color);
}

/* === Tertiary === */

:host([theme~="tertiary"]) {
    --button-hover-bg: var(--button-tertiary-hover-bg);
    --button-hover-color: var(--button-tertiary-hover-color);
    --button-active-bg: var(--button-tertiary-active-bg);
    --button-active-color: var(--button-tertiary-active-color);
    box-shadow: inset 0 0 0 1px var(--button-tertiary-border-color);
    color: var(--button-tertiary-color);
    padding: 0 var(--lumo-space-m);
}

:host([theme~="tertiary"]),
:host([theme~="tertiary-inline"]) {
    transition: background-color var(--duration-fast) var(--easing-standard), box-shadow var(--duration-fast) var(--easing-standard);
}

:host([theme*="tertiary"]:hover) {
    background-color: var(--button-hover-bg) !important;
}

:host([theme~="tertiary"][active]),
:host([theme~="tertiary-inline"][active]),
:host([theme*="tertiary"]:not([active]):hover) {
    opacity: 1;
}

:host([theme~="tertiary"][focused]) {
    background-color: var(--button-tertiary-focus-bg) !important;
    color: var(--button-tertiary-focus-color);
}

:host([theme~="tertiary"][active]) {
    background-color: var(--button-active-bg) !important;
}

/* === Error === */

:host([theme~="error"]) {
    --button-hover-bg: var(--button-error-hover-bg);
    --button-hover-color: var(--button-error-hover-color);
    --button-active-bg: var(--button-error-active-bg);
    --button-active-color: var(--button-error-active-color);
    background-color: var(--button-error-bg);
    color: var(--button-error-color);
}

/* === Success === */

:host([theme~="success"]) {
    --button-hover-bg: var(--button-success-hover-bg);
    --button-hover-color: var(--button-success-hover-color);
    --button-active-bg: var(--button-success-active-bg);
    --button-active-color: var(--button-success-active-color);
    background-color: var(--button-success-bg);
    color: var(--button-success-color);
}

/* === Large === */

:host([theme~="large"]) {
    --lumo-button-size: var(--lumo-size-l);
    font-size: var(--lumo-font-size-s);
}

:host([theme~="large"]) [part] ::slotted(iron-icon) {
    height: var(--lumo-icon-size-l);
    width: var(--lumo-icon-size-l);
}

/* === Icon === */

:host([theme~="icon"]:not([theme~="tertiary-inline"])) {
    min-width: 0;
    padding: 0;
    width: var(--lumo-button-size);
}

:host([theme~="icon"]) [part="label"],
:host([theme~="icon"]) [part="prefix"],
:host([theme~="icon"]) [part="suffix"] {
    line-height: 1;
}

:host(:not([theme~="icon"])) [part="prefix"] ::slotted(iron-icon[icon^="vaadin:"]) {
    margin: 0 var(--lumo-space-xs) 0 0;
}

:host(:not([theme~="icon"])) [part="suffix"] ::slotted(iron-icon[icon^="vaadin:"]) {
    margin: 0 0 0 var(--lumo-space-xs);
}

/* === Hover === */

:host(:hover) {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-color);
}

/* === Active === */

:host([active]) {
    background-color: var(--button-active-bg);
    color: var(--button-active-color);
}

/* === Focus === */

:host([focused]) {
    box-shadow: var(--button-focus);
}

:host([theme~="primary"][focused]),
:host([theme~="tertiary"][focused]),
:host([theme~="contrast"][focused]),
:host([theme~="error"][focused]),
:host([theme~="success"][focused]) {
    box-shadow: var(--button-focus-inset);
}

/* === Disabled === */

:host([disabled][disabled]) {
    background-color: transparent !important;
    color: var(--button-disabled-color);
}

:host([theme~="tertiary"][disabled][disabled]) {
    box-shadow: inset 0 0 0 1px var(--button-tertiary-disabled-border-color);
}

:host([theme~="primary"][disabled][disabled]),
:host([theme~="contrast"][disabled][disabled]),
:host([theme~="error"][disabled][disabled]),
:host([theme~="success"][disabled][disabled]) {
    background-color: var(--button-disabled-bg) !important;
}

/* === Upload === */

:host([theme~="upload"]) {
    --button-color: var(--upload-color);
    --button-hover-bg: var(--upload-hover-bg);
    --button-hover-color: var(--upload-hover-color);
    --button-active-bg: var(--upload-active-bg);
    --button-active-color: var(--upload-active-color);
    outline: 1px dashed var(--upload-border-color);
    outline-offset: -1px;
    font-size: var(--lumo-font-size-m);
    height: 6rem;
    margin: 0;
    padding: var(--lumo-space-m);
    width: 100%;
}

:host([theme~="upload"]:hover),
:host([theme~="upload"][focused]) {
    outline: 2px solid var(--focus-color);
    outline-offset: -2px;
    text-decoration: underline;
}

:host([theme~="upload"][focused]) {
    box-shadow: none;
}

:host([theme~="upload"]) .vaadin-button-container {
    align-items: normal;
    justify-content: flex-start;
}

:host([theme~="upload"]) [part="label"] {
    text-align: left;
    white-space: normal;
}

:host([theme~="upload"][disabled][disabled]) {
    color: var(--upload-disabled-color);
    background-color: var(--upload-bg) !important;
    outline-color: var(--upload-disabled-border-color);
}
