:host {
    --min-height: var(--lumo-size-m);
    --border-top-color: var(--item-border-color);
    align-items: stretch;
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-s);
    min-height: var(--min-height);
    padding: 0 var(--lumo-space-m);
    position: relative;
}

:host([theme~="small"]) {
    --min-height: var(--lumo-size-s);
}

:host([theme~="large"]) {
    --min-height: var(--lumo-size-l);
}

/* === Hover === */

:host(:hover:not([disabled])) {
    background-color: var(--item-hover-bg);
    color: var(--lumo-body-text-color);
}

/* === Active === */

:host(:active:not([disabled])) {
    background-color: var(--item-active-bg);
}

/* === Selection === */

:host([selected]) {
    background-color: var(--item-selected-bg) !important;
    color: var(--lumo-body-text-color);
}

/* === Focus === */

:host([focused]:not([disabled])) {
    box-shadow: inset 0 0 0 2px var(--focus-color);
}

/* Hide border under these circumstances (pt 1/2 -- see styles.css) */
:host(:first-of-type),
:host(:hover),
:host(:active),
:host([focused]),
:host([selected]) {
    --border-top-color: transparent;
}

:host([tabindex])::before {
    color: var(--lumo-body-text-color);
    font-size: var(--lumo-icon-size-l);
    margin: 0;
    order: 1;
    position: absolute;
    right: var(--lumo-space-m);
    top: calc((var(--min-height) - var(--lumo-icon-size-l)) / 2);
}

[part="content"] {
    align-items: center;
    border-bottom: 1px solid transparent;
    border-top: 1px solid var(--border-top-color);
    display: flex;
    padding-inline-end: var(--lumo-icon-size-l);
}

