[part="content"] {
    padding: 0;
}

[part="overlay"] {
    border-inline-start: 3px solid var(--notification-border-color);
    border-radius: 0;
    flex-grow: 1;
}

/* === Common === */

:host([theme~="primary"]) [part="overlay"],
:host([theme~="success"]) [part="overlay"],
:host([theme~="error"]) [part="overlay"],
:host([theme~="warning"]) [part="overlay"] {
    background-image: none;
    background-color: var(--notification-bg);
    box-shadow: var(--lumo-box-shadow-m);
    color: var(--notification-color);
}

/* === Low contrast === */

:host([theme~="primary"]) {
    --notification-bg: var(--notification-primary-bg);
    --notification-border-color: var(--notification-primary-border-color);
    --notification-icon-color: var(--notification-primary-icon-color);
}

:host([theme~="success"]) {
    --notification-bg: var(--notification-success-bg);
    --notification-border-color: var(--notification-success-border-color);
    --notification-icon-color: var(--notification-success-icon-color);
}

:host([theme~="error"]) {
    --notification-bg: var(--notification-error-bg);
    --notification-border-color: var(--notification-error-border-color);
    --notification-icon-color: var(--notification-error-icon-color);
}

:host([theme~="warning"]) {
    --notification-bg: var(--notification-warning-bg);
    --notification-border-color: var(--notification-warning-border-color);
    --notification-icon-color: var(--notification-warning-icon-color);
}

/* === High contrast === */

:host([theme~="high-contrast"]) {
    --lumo-header-text-color: var(--notification-high-contrast-color);
    --lumo-primary-text-color: var(--notification-high-contrast-primary-color);
    --notification-bg: var(--notification-high-contrast-bg);
    --notification-color: var(--notification-high-contrast-color);
    --notification-focus-color: var(--notification-high-contrast-focus-color);
}

:host([theme~="high-contrast"][theme~="primary"]) {
    --notification-border-color: var(--notification-high-contrast-primary-border-color);
    --notification-icon-color: var(--notification-high-contrast-primary-icon-color);
}

:host([theme~="high-contrast"][theme~="success"]) {
    --notification-border-color: var(--notification-high-contrast-success-border-color);
    --notification-icon-color: var(--notification-high-contrast-success-icon-color);
}

:host([theme~="high-contrast"][theme~="error"]) {
    --notification-border-color: var(--notification-high-contrast-error-border-color);
    --notification-icon-color: var(--notification-high-contrast-error-icon-color);
}

:host([theme~="high-contrast"][theme~="warning"]) {
    --notification-border-color: var(--notification-high-contrast-warning-border-color);
    --notification-icon-color: var(--notification-high-contrast-warning-icon-color);
}

