@import "input-field.css";

/* Button */

[part="reveal-button"] {
    color: var(--lumo-secondary-text-color);
    display: var(--lumo-password-field-reveal-button-display, flex);
}

[part="reveal-button"]:hover {
    color: var(--lumo-body-text-color);
}
