:host {
    --button-hover-bg: transparent;
    --button-active-bg: transparent;
}

:host::before,
:host::after {
    content: none;
}

/* === Focus === */

:host([focused]) {
    box-shadow: var(--button-focus);
}
