/* === Backdrop === */

[part="backdrop"] {
    background-color: var(--gray-100);
    opacity: 0.5;
}

/* === Overlay === */

[part="overlay"] {
    background-color: var(--overlay-bg);
    border-radius: 0;
    box-shadow: none;
}

@media (min-width: 42rem) {
    [part="overlay"] {
        width: 84%;
    }
}

@media (min-width: 66rem) {
    [part="overlay"] {
        width: 60%;
    }
}

@media (min-width: 82rem) {
    [part="overlay"] {
        width: 48%;
    }
}

