:host {
    padding: 0;
}

:host::before {
    content: none;
}

:host([has-label]) {
    padding-top: 0;
}

/* === Group field === */

[part='group-field'] {
    display: flex;
}

:host([theme~='vertical']) [part='group-field'] {
    gap: var(--lumo-space-xxs);
}

/* === Label === */

[part="label"] {
    font-size: var(--lumo-font-size-xs);
    font-weight: normal;
    line-height: var(--lumo-line-height-s);
    margin-bottom: calc(var(--lumo-space-xxs) * 1.5);
    padding: 0;
}

/* === Hover === */

:host(:hover:not([disabled]):not([focused])) [part="label"],
:host(:hover:not([disabled]):not([focused])) [part="helper-text"],
:host(:hover:not([disabled]):not([focused])) [part="helper-text"] ::slotted(*) {
    color: var(--lumo-secondary-text-color);
}

/* === Disabled === */

:host([disabled]) [part="label"] {
    color: var(--lumo-secondary-text-color);
    -webkit-text-fill-color: var(--lumo-secondary-text-color);
}

/* === Focused === */

:host([focused]:not([disabled])) [part="label"] {
    color: var(--lumo-secondary-text-color);
}
