:host {
    --min-height: var(--lumo-size-m);
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-s);
    min-height: var(--min-height);
    padding: 0 var(--lumo-space-m);
}

:host(:not([focused]):not([selected]):not(:last-child))::after {
    background-color: var(--item-border-color);
    content: "";
    height: 1px;
    inset: auto var(--lumo-space-m) 0 var(--lumo-space-m);
    pointer-events: none;
    position: absolute;
}

:host([theme~="small"]) {
    --min-height: var(--lumo-size-s);
}

:host([theme~="large"]) {
    --min-height: var(--lumo-size-l);
}

/* Checkmark */

[part='checkmark'] {
    order: 1;
}

[part='checkmark']::before {
    color: var(--lumo-body-text-color);
    height: 1rem;
    font-size: var(--lumo-icon-size-l);
    line-height: 1rem;
    margin: 0;
    width: 1rem;
}

/* Content */

[part='content'] {
    padding-inline-end: var(--lumo-space-xs);
}

/* === Hover === */

:host(:hover:not([disabled])) {
    background-color: var(--item-hover-bg);
    color: var(--lumo-body-text-color);
}

:host([selected]:hover:not([disabled])) {
    background-color: var(--item-selected-hover-bg);
}

/* === Active === */

:host(:active:not([disabled])) {
    background-color: var(--item-active-bg);
}

/* === Selection === */

:host([selected]) {
    background-color: var(--item-selected-bg);
    color: var(--lumo-body-text-color);
}

/* === Focus === */

:host([focused]:not([disabled])) {
    box-shadow: inset 0 0 0 2px var(--focus-color);
}


