@import "input-field.css";

/* === Input === */

::slotted(input) {
    --_lumo-text-field-overflow-mask-image: none;
    font-family: var(--numeric-font-family);
    padding: 0;
}

/* === Buttons === */

[part="decrease-button"],
[part="increase-button"] {
    color: currentColor;
    font-size: var(--lumo-icon-size-m);
    height: var(--lumo-text-field-size);
    margin: 0;
    width: var(--lumo-text-field-size);
}

[part="decrease-button"]:focus,
[part="increase-button"]:focus {
    box-shadow: inset 0 0 0 2px var(--lumo-primary-color);
}

[part="decrease-button"]::before,
[part="increase-button"]::before {
    margin: 0;
}
