/* Menu Bar */

:host([theme="menu-bar-item"]) [part="content"] ::slotted(vaadin-icon[icon^="vaadin:"]) {
    color: var(--lumo-body-text-color);
    padding: var(--lumo-space-xxxs);
}

/* Overlay */

:host([role="menuitem"]) {
    --min-height: var(--lumo-size-m);
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-s);
    min-height: var(--min-height);
    padding: 0 var(--lumo-space-m);
}

:host([role="menuitem"][theme~="small"]) {
    --min-height: var(--lumo-size-s);
}

:host([role="menuitem"][theme~="large"]) {
    --min-height: var(--lumo-size-l);
}

/* Checkmark */

:host([role="menuitem"]) [part='checkmark'] {
    order: 1;
}

:host([role="menuitem"]) [part='checkmark']::before {
    color: var(--lumo-body-text-color);
    height: 1rem;
    font-size: var(--lumo-icon-size-l);
    line-height: 1rem;
    margin: 0;
    width: 1rem;
}

/* Content */

:host([role="menuitem"]) [part='content'] {
    padding-inline-end: var(--lumo-space-xs);
}

/* === Hover === */

:host([role="menuitem"]:hover:not([disabled])) {
    background-color: var(--item-hover-bg);
    color: var(--lumo-body-text-color);
}

:host([role="menuitem"][selected]:hover:not([disabled])) {
    background-color: var(--item-selected-hover-bg);
}

/* === Active === */

:host([role="menuitem"]:active:not([disabled])) {
    background-color: var(--item-active-bg);
}

/* === Selection === */

:host([role="menuitem"][selected]) {
    background-color: var(--item-selected-bg);
    color: var(--lumo-body-text-color);
}

/* === Focus === */

:host([role="menuitem"][focused]:not([disabled])) {
    box-shadow: inset 0 0 0 2px var(--focus-color);
}
