@import url('./badge.css');
@import url('./button.css');
@import url('./color.css');
@import url('./item.css');
@import url('./navigation.css');
@import url('./notification.css');
@import url('./tab.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

html {
    /* === Lumo === */

    --lumo-font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

    --lumo-font-size-xxs: 0.75rem;
    --lumo-font-size-xs: 0.75rem;
    --lumo-font-size-s: 0.875rem;
    --lumo-font-size-m: 1rem;
    --lumo-font-size-l: 1.125rem;
    --lumo-font-size-xl: 1.25rem;
    --lumo-font-size-xxl: 1.5rem;
    --lumo-font-size-xxxl: 1.75rem;

    --lumo-space-xxxs: 0.125rem;
    --lumo-space-xxs: 0.25rem;
    --lumo-space-xs: 0.5rem;
    --lumo-space-s: 0.75rem;
    --lumo-space-m: 1rem;
    --lumo-space-l: 1.5rem;
    --lumo-space-xl: 2.0rem;
    --lumo-space-xxl: 2.5rem;

    --lumo-size-xs: 1.5rem;
    --lumo-size-s: 2rem;
    --lumo-size-m: 2.5rem;
    --lumo-size-l: 3rem;
    --lumo-size-xl: 4rem;
    --lumo-size-xxl: 5rem;

    --lumo-icon-size-m: 1rem;
    --lumo-icon-size-l: 1.25rem;

    --lumo-border-radius-s: 1px;
    --lumo-border-radius: 0;

    --lumo-primary-color: var(--blue-60);
    --lumo-success-color: var(--green-60);
    --lumo-error-color: var(--red-60);
    --lumo-error-text-color: var(--red-60);

    --lumo-header-text-color: var(--gray-100);
    --lumo-body-text-color: var(--gray-100);
    --lumo-secondary-text-color: var(--gray-70);
    --lumo-disabled-text-color: var(--gray-30);

    --lumo-box-shadow-m: 0 2px 6px 0 rgba(0, 0, 0, 0.2);

    /* === Carbon === */

    --numeric-font-family: IBM Plex Mono, Menlo, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier, monospace;

    --hover-bg: #e5e5e5; /* @palette */
    --active-bg: var(--gray-30);

    --focus-color: var(--blue-60);

    --navigation-border-color: var(--gray-80);
    --navigation-highlight-bg: var(--gray-20);

    --input-bg: var(--gray-10);
    --input-hover-bg: var(--hover-bg);
    --input-disabled-bg: var(--gray-10);

    --accordion-border-color: var(--gray-20);
    --accordion-disabled-border-color: var(--gray-10);
    --accordion-hover-bg: var(--hover-bg);

    --button-color: var(--blue-60);
    --button-hover-bg: var(--hover-bg);
    --button-hover-color: var(--blue-70);
    --button-focus: inset 0 0 0 2px var(--focus-color);
    --button-focus-inset: inset 0 0 0 2px var(--focus-color), inset 0 0 0 3px var(--gray-10);
    --button-active-bg: var(--active-bg);
    --button-active-color: var(--blue-70);
    --button-disabled-bg: var(--gray-30);
    --button-disabled-color: var(--gray-50);

    --button-primary-bg: var(--blue-60);
    --button-primary-color: white;
    --button-primary-hover-bg: #0353e9; /* @palette */
    --button-primary-hover-color: white;
    --button-primary-active-bg: var(--blue-80);
    --button-primary-active-color: white;

    --button-contrast-bg: var(--gray-80);
    --button-contrast-color: white;
    --button-contrast-hover-bg: #4c4c4c; /* @palette */
    --button-contrast-hover-color: white;
    --button-contrast-active-bg: var(--gray-60);
    --button-contrast-active-color: white;

    --button-tertiary-bg: transparent;
    --button-tertiary-border-color: var(--blue-60);
    --button-tertiary-color: var(--blue-60);
    --button-tertiary-hover-bg: #0353e9; /* @palette */
    --button-tertiary-hover-color: white;
    --button-tertiary-focus-bg: var(--blue-60);
    --button-tertiary-focus-color: white;
    --button-tertiary-active-bg: var(--blue-80);
    --button-tertiary-active-color: white;
    --button-tertiary-disabled-border-color: var(--gray-30);

    --button-error-bg: var(--red-60);
    --button-error-color: white;
    --button-error-hover-bg: var(--red-60-hover); /* #b81921 vs #b81922 */
    --button-error-hover-color: white;
    --button-error-active-bg: var(--red-80);
    --button-error-active-color: white;

    --button-success-bg: var(--green-60);
    --button-success-color: white;
    --button-success-hover-bg: var(--green-60-hover);
    --button-success-hover-color: white;
    --button-success-active-bg: var(--green-80);
    --button-success-active-color: white;

    --button-group-border-color: var(--gray-20);

    --checkbox-bg: transparent;
    --checkbox-border-color: var(--gray-100);
    --checkbox-hover-bg: transparent;
    --checkbox-checked-bg: var(--gray-100);
    --checkbox-checkmark-color: white;
    --checkbox-disabled-bg: transparent;
    --checkbox-disabled-border-color: var(--gray-30);
    --checkbox-disabled-checked-bg: var(--gray-30);

    --radio-button-bg: transparent;
    --radio-button-border-color: var(--gray-100);
    --radio-button-hover-bg: transparent;
    --radio-button-checked-bg: transparent;
    --radio-button-checkmark-color: var(--gray-100);
    --radio-button-disabled-bg: transparent;
    --radio-button-disabled-border-color: var(--gray-30);
    --radio-button-disabled-checked-bg: var(--gray-30);

    --datepicker-focus-color: var(--blue-60);
    --datepicker-focus: inset 0 0 0 2px var(--datepicker-focus-color);
    --datepicker-selected-focus: inset 0 0 0 2px var(--datepicker-focus-color), inset 0 0 0 3px white;
    --datepicker-selected-bg: var(--blue-60);
    --datepicker-selected-color: white;
    --datepicker-overlay-bg: var(--gray-10);
    --datepicker-yearscroller-bg: var(--gray-20);

    --upload-bg: transparent;
    --upload-color: var(--blue-60);
    --upload-border-color: var(--gray-50);
    --upload-hover-bg: transparent;
    --upload-hover-color: var(--blue-60);
    --upload-active-bg: transparent;
    --upload-active-color: var(--lumo-body-text-color);
    --upload-disabled-color: var(--gray-30);
    --upload-disabled-border-color: var(--gray-30);
    --upload-file-bg: var(--gray-10);
    --upload-file-border-color: var(--gray-20);

    --grid-bg: var(--gray-10);
    --grid-border-color: var(--gray-20);
    --grid-details-border-color: var(--gray-20);
    --grid-hover-bg: var(--hover-bg);
    --grid-hover-border-color: var(--hover-bg);
    --grid-odd-bg: var(--gray-20);
    --grid-odd-border-color: var(--gray-20);
    --grid-th-bg: var(--gray-20);
    --grid-th-hover-bg: #cacaca; /* @palette */
    --grid-th-active-bg: #cacaca; /* @palette */
    --grid-selected-bg: var(--gray-20);
    --grid-selected-border-color: var(--gray-30);
    --grid-selected-hover-bg: #cacaca; /* @palette */
    --grid-selected-hover-border-color: #cacaca; /* @palette */

    --item-border-color: var(--gray-20);
    --item-hover-bg: var(--hover-bg);
    --item-active-bg: var(--gray-20);
    --item-selected-bg: var(--gray-20);
    --item-selected-hover-bg: var(--gray-20-hover);

    --overlay-bg: var(--gray-10);

    --notification-bg: var(--gray-10);
    --notification-primary-bg: var(--blue-10);
    --notification-success-bg: var(--green-10);
    --notification-error-bg: var(--red-10);
    --notification-warning-bg: var(--yellow-10);

    --notification-primary-border-color: var(--blue-70);
    --notification-success-border-color: var(--green-60);
    --notification-error-border-color: var(--red-60);
    --notification-warning-border-color: var(--yellow-30);

    --notification-primary-icon-color: var(--blue-70);
    --notification-success-icon-color: var(--green-60);
    --notification-error-icon-color: var(--red-60);
    --notification-warning-icon-color: var(--yellow-30);

    --notification-high-contrast-bg: var(--gray-80);
    --notification-high-contrast-color: white;
    --notification-high-contrast-focus-color: white;
    --notification-high-contrast-primary-color: var(--blue-40);

    --notification-high-contrast-primary-border-color: var(--blue-50);
    --notification-high-contrast-success-border-color: var(--green-40);
    --notification-high-contrast-error-border-color: var(--red-50);
    --notification-high-contrast-warning-border-color: var(--yellow-30);

    --notification-high-contrast-primary-icon-color: var(--blue-50);
    --notification-high-contrast-success-icon-color: var(--green-40);
    --notification-high-contrast-error-icon-color: var(--red-50);
    --notification-high-contrast-warning-icon-color: var(--yellow-30);

    --tab-underline-color: var(--gray-20);
    --tab-underline-hover-color: var(--gray-50);
    --tab-underline-selected-color: var(--blue-60);
    --tab-outline-bg: var(--gray-20);
    --tab-outline-hover-bg: #cacaca; /* @palette */
    --tab-outline-border-color: var(--gray-50);
    --tab-outline-selected-bg: var(--gray-10);

    --tag-blue-bg: var(--blue-20);
    --tag-blue-hover-bg: var(--blue-30);
    --tag-blue-color: var(--blue-80);
    --tag-red-bg: var(--red-20);
    --tag-red-hover-bg: var(--red-30);
    --tag-red-color: var(--red-80);
    --tag-magenta-bg: var(--magenta-20);
    --tag-magenta-hover-bg: var(--magenta-30);
    --tag-magenta-color: var(--magenta-80);
    --tag-purple-bg: var(--purple-20);
    --tag-purple-hover-bg: var(--purple-30);
    --tag-purple-color: var(--purple-80);
    --tag-cyan-bg: var(--cyan-20);
    --tag-cyan-hover-bg: var(--cyan-30);
    --tag-cyan-color: var(--cyan-80);
    --tag-teal-bg: var(--teal-20);
    --tag-teal-hover-bg: var(--teal-30);
    --tag-teal-color: var(--teal-80);
    --tag-green-bg: var(--green-20);
    --tag-green-hover-bg: var(--green-30);
    --tag-green-color: var(--green-80);
    --tag-gray-bg: var(--gray-20);
    --tag-gray-hover-bg: var(--gray-30);
    --tag-gray-color: var(--gray-80);
    --tag-cool-gray-bg: var(--cool-gray-20);
    --tag-cool-gray-hover-bg: var(--cool-gray-30);
    --tag-cool-gray-color: var(--cool-gray-80);
    --tag-warm-gray-bg: var(--warm-gray-20);
    --tag-warm-gray-hover-bg: var(--warm-gray-30);
    --tag-warm-gray-color: var(--warm-gray-80);
    --tag-disabled-bg: var(--gray-10);
    --tag-disabled-color: var(--gray-30);

    --duration-fast: 70ms;
    --easing-standard: cubic-bezier(0.2, 0, 0.38, 0.9);
}

[theme~="dark"] {
    /* === Lumo ==== */

    --lumo-base-color: var(--gray-100);
    --lumo-primary-color: var(--blue-40);
    --lumo-primary-text-color: var(--blue-40);
    --lumo-success-color: var(--green-40);
    --lumo-success-text-color: var(--green-40);
    --lumo-error-color: var(--red-50);
    --lumo-error-text-color: var(--red-40);

    --lumo-header-text-color: white;
    --lumo-body-text-color: var(--gray-10);
    --lumo-secondary-text-color: var(--gray-30);
    --lumo-disabled-text-color: var(--gray-70);

    /* === Carbon === */

    --hover-bg: #353535; /* @palette */
    --active-bg: var(--gray-80);

    --focus-color: white;

    --navigation-border-color: var(--gray-80); /* Guessing, no documentation */
    --navigation-highlight-bg: var(--gray-80); /* Guessing, no documentation */

    --accordion-border-color: var(--gray-80);
    --accordion-disabled-border-color: var(--gray-90);
    --accordion-hover-bg: var(--hover-bg);

    --button-color: var(--blue-40);
    --button-hover-bg: var(--hover-bg);
    --button-hover-color: var(--blue-30);
    --button-focus: inset 0 0 0 2px var(--focus-color);
    --button-focus-inset: inset 0 0 0 2px var(--focus-color), inset 0 0 0 3px var(--gray-100);
    --button-active-bg: var(--active-bg);
    --button-active-color: var(--blue-30);

    --button-disabled-bg: var(--gray-70);
    --button-disabled-color: var(--gray-50);

    --button-primary-bg: var(--blue-60);
    --button-primary-color: white;
    --button-primary-hover-bg: #0353e9; /* @palette */
    --button-primary-hover-color: white;
    --button-primary-active-bg: var(--blue-80);
    --button-primary-active-color: white;

    --button-contrast-bg: var(--gray-60);
    --button-contrast-color: white;
    --button-contrast-hover-bg: #606060; /* @palette */
    --button-contrast-hover-color: white;
    --button-contrast-active-bg: var(--gray-80);
    --button-contrast-active-color: white;

    --button-tertiary-bg: transparent;
    --button-tertiary-border-color: white;
    --button-tertiary-color: white;
    --button-tertiary-hover-bg: var(--gray-10);
    --button-tertiary-hover-color: var(--gray-100);
    --button-tertiary-focus-bg: white;
    --button-tertiary-focus-color: var(--gray-100);
    --button-tertiary-active-bg: var(--gray-30);
    --button-tertiary-active-color: var(--gray-100);
    --button-tertiary-disabled-border-color: var(--gray-70);

    --button-group-border-color: var(--gray-80);

    --input-bg: var(--gray-90);
    --input-hover-bg: var(--hover-bg);
    --input-disabled-bg: var(--gray-90);

    --checkbox-bg: transparent;
    --checkbox-border-color: var(--gray-10);
    --checkbox-hover-bg: transparent;
    --checkbox-checked-bg: var(--gray-10);
    --checkbox-checkmark-color: var(--gray-100);
    --checkbox-disabled-bg: transparent;
    --checkbox-disabled-border-color: var(--gray-70);
    --checkbox-disabled-checked-bg: var(--gray-70);

    --radio-button-bg: transparent;
    --radio-button-border-color: var(--gray-10);
    --radio-button-hover-bg: transparent;
    --radio-button-checked-bg: transparent;
    --radio-button-checkmark-color: var(--gray-10);
    --radio-button-disabled-bg: transparent;
    --radio-button-disabled-border-color: var(--gray-70);
    --radio-button-disabled-checked-bg: var(--gray-70);

    --datepicker-focus-color: var(--blue-60);
    --datepicker-focus: inset 0 0 0 2px var(--datepicker-focus-color);
    --datepicker-selected-focus: inset 0 0 0 2px var(--datepicker-focus-color), inset 0 0 0 3px var(--gray-80);
    --datepicker-selected-bg: var(--blue-60);
    --datepicker-selected-color: white;
    --datepicker-overlay-bg: var(--gray-90);
    --datepicker-yearscroller-bg: var(--gray-80);

    --upload-bg: transparent;
    --upload-color: var(--blue-40);
    --upload-border-color: var(--gray-60);
    --upload-hover-bg: transparent;
    --upload-hover-color: var(--blue-40);
    --upload-active-bg: transparent;
    --upload-active-color: var(--lumo-body-text-color);
    --upload-disabled-color: var(--gray-70);
    --upload-disabled-border-color: var(--gray-70);

    --upload-file-bg: var(--gray-90);
    --upload-file-border-color: var(--gray-80);

    --grid-bg: var(--gray-90);
    --grid-border-color: var(--gray-80);
    --grid-details-border-color: var(--gray-80);
    --grid-hover-bg: var(--hover-bg);
    --grid-hover-border-color: var(--hover-bg);
    --grid-odd-bg: var(--gray-80);
    --grid-odd-border-color: var(--gray-80);
    --grid-th-bg: var(--gray-80);
    --grid-th-hover-bg: #4c4c4c; /* @palette */
    --grid-th-active-bg: #4c4c4c; /* @palette */
    --grid-selected-bg: var(--gray-80);
    --grid-selected-border-color: var(--gray-70);
    --grid-selected-hover-bg: #4c4c4c; /* @palette */
    --grid-selected-hover-border-color: #4c4c4c; /* @palette */

    --item-border-color: var(--gray-80);
    --item-hover-bg: var(--hover-bg);
    --item-active-bg: var(--gray-80);
    --item-selected-bg: var(--gray-80);
    --item-selected-hover-bg: var(--gray-80-hover);

    --overlay-bg: var(--gray-90);

    --notification-bg: var(--gray-80);
    --notification-primary-bg: var(--blue-100); /* Guessing, no documentation */
    --notification-success-bg: var(--green-100); /* Guessing, no documentation */
    --notification-error-bg: var(--red-100); /* Guessing, no documentation */
    --notification-warning-bg: var(--yellow-100); /* Guessing, no documentation */

    --notification-primary-border-color: var(--blue-50);
    --notification-success-border-color: var(--green-40);
    --notification-error-border-color: var(--red-50);
    --notification-warning-border-color: var(--yellow-30);

    --notification-primary-icon-color: var(--blue-50);
    --notification-success-icon-color: var(--green-40);
    --notification-error-icon-color: var(--red-50);
    --notification-warning-icon-color: var(--yellow-30);

    --notification-high-contrast-bg: var(--gray-10);
    --notification-high-contrast-color: var(--gray-100);
    --notification-high-contrast-focus-color: var(--blue-60);
    --notification-high-contrast-primary-color: var(--blue-60);

    --notification-high-contrast-primary-border-color: var(--blue-60);
    --notification-high-contrast-success-border-color: var(--green-50);
    --notification-high-contrast-error-border-color: var(--red-60);
    --notification-high-contrast-warning-border-color: var(--yellow-30);

    --notification-high-contrast-primary-icon-color: var(--blue-60);
    --notification-high-contrast-success-icon-color: var(--green-50);
    --notification-high-contrast-error-icon-color: var(--red-60);
    --notification-high-contrast-warning-icon-color: var(--yellow-30);

    --tab-underline-color: var(--gray-80);
    --tab-underline-hover-color: var(--gray-60);
    --tab-underline-selected-color: var(--blue-50);
    --tab-outline-bg: var(--gray-80);
    --tab-outline-hover-bg: #4c4c4c; /* @palette */
    --tab-outline-border-color: var(--gray-60);
    --tab-outline-selected-bg: var(--gray-90);

    --tag-blue-bg: var(--blue-80);
    --tag-blue-hover-bg: var(--blue-70);
    --tag-blue-color: var(--blue-30);
    --tag-red-bg: var(--red-80);
    --tag-red-hover-bg: var(--red-70);
    --tag-red-color: var(--red-30);
    --tag-magenta-bg: var(--magenta-80);
    --tag-magenta-hover-bg: var(--magenta-70);
    --tag-magenta-color: var(--magenta-30);
    --tag-purple-bg: var(--purple-80);
    --tag-purple-hover-bg: var(--purple-70);
    --tag-purple-color: var(--purple-30);
    --tag-cyan-bg: var(--cyan-80);
    --tag-cyan-hover-bg: var(--cyan-70);
    --tag-cyan-color: var(--cyan-30);
    --tag-teal-bg: var(--teal-80);
    --tag-teal-hover-bg: var(--teal-70);
    --tag-teal-color: var(--teal-30);
    --tag-green-bg: var(--green-80);
    --tag-green-hover-bg: var(--green-70);
    --tag-green-color: var(--green-30);
    --tag-gray-bg: var(--gray-80);
    --tag-gray-hover-bg: var(--gray-70);
    --tag-gray-color: var(--gray-30);
    --tag-cool-gray-bg: var(--cool-gray-80);
    --tag-cool-gray-hover-bg: var(--cool-gray-70);
    --tag-cool-gray-color: var(--cool-gray-30);
    --tag-warm-gray-bg: var(--warm-gray-80);
    --tag-warm-gray-hover-bg: var(--warm-gray-70);
    --tag-warm-gray-color: var(--warm-gray-30);
    --tag-disabled-bg: var(--gray-90);
    --tag-disabled-color: var(--gray-70);
}
