:host {
    font-size: var(--lumo-font-size-s);
}

/* === Label === */

:host([has-label]) ::slotted(label) {
    margin-bottom: calc((var(--lumo-size-xs) - (var(--lumo-font-size-s) * var(--lumo-line-height-s))) / 2);
    margin-inline-end: var(--lumo-space-m);
    margin-inline-start: calc(var(--lumo-space-xxs) * 1.5);
    margin-top: calc((var(--lumo-size-xs) - (var(--lumo-font-size-s) * var(--lumo-line-height-s))) / 2);
    padding: 0;
}

/* === Checkbox === */

[part="checkbox"] {
    background-color: var(--checkbox-bg);
    border: 1px solid var(--checkbox-border-color);
    border-radius: var(--lumo-border-radius-s);
    box-sizing: border-box;
    height: var(--lumo-icon-size-m);
    margin: calc((var(--lumo-size-xs) - var(--lumo-icon-size-m)) / 2) var(--lumo-space-xxxs);
    width: var(--lumo-icon-size-m);
}

[part="checkbox"]::before {
    content: none;
}

[part="checkbox"]::after {
    color: var(--checkbox-checkmark-color);
    font-size: var(--lumo-font-size-m);
    font-weight: bold;
}

:host([indeterminate]) [part='checkbox']::after {
    background-color: var(--checkbox-checkmark-color);
}

/* === Active === */

:host([active]) [part="checkbox"] {
    transform: none;
}

/* === Hover === */

:host(:not([checked]):not([indeterminate]):not([disabled]):hover) [part="checkbox"] {
    background-color: var(--checkbox-hover-bg);
}

/* === Focus === */

:host([focus-ring]) [part="checkbox"] {
    box-shadow: none;
    outline: 2px solid var(--focus-color);
    outline-offset: 1px;
}

/* === Checked === */

:host([indeterminate]) [part="checkbox"],
:host([checked]) [part="checkbox"] {
    background-color: var(--checkbox-checked-bg);
}

/* === Disabled === */

:host([disabled]) [part="checkbox"] {
    background-color: var(--checkbox-disabled-bg);
    border-color: var(--checkbox-disabled-border-color);
}

:host([disabled][checked]) [part="checkbox"] {
    background-color: var(--checkbox-disabled-checked-bg);
}

:host([disabled]) [part="checkbox"] {
    color: var(--checkbox-checkmark-color);
}
