:host {
    font-size: var(--lumo-font-size-s);
}

/* === Label === */

label {
    align-items: flex-start;
}

[part="label"] {

}

[part="label"]:not([empty]) {
    margin: 0 var(--lumo-space-m) 0 var(--lumo-space-xxs);
}

/* === Radio === */

[part="radio"] {
    background-color: var(--radio-button-bg);
    border: 1px solid var(--radio-button-border-color);
    border-radius: var(--lumo-icon-size-m);
    box-sizing: border-box;
    height: var(--lumo-icon-size-m);
    margin: var(--lumo-space-xxxs);
    width: var(--lumo-icon-size-m);
}

/* === Active === */

:host([active]) [part="radio"] {
    transform: none;
}

/* === Hover === */

:host(:not([checked]):not([indeterminate]):not([disabled]):hover) [part="radio"] {
    background-color: var(--radio-button-hover-bg);
}

/* === Focus === */

:host([focus-ring]) [part="radio"] {
    box-shadow: none;
    outline: 2px solid var(--focus-color);
}

/* === Checked === */

:host([checked]) [part="radio"] {
    background-color: var(--radio-button-checked-bg);
}

[part="radio"]::after {
    border-color: var(--radio-button-checkmark-color);
    border-width: 0.25rem;
}

/* === Disabled === */

:host([disabled]) [part="radio"] {
    background-color: var(--radio-button-disabled-bg);
    border-color: var(--radio-button-disabled-border-color);
}

:host([disabled][checked]) [part="radio"] {
    background-color: var(--radio-button-disabled-checked-bg);
}

:host([disabled]) [part="radio"]::after {
    border-color: var(--radio-button-checkmark-color);
}
