:host(:first-child) {
    border-top: 1px solid var(--accordion-border-color);
}

:host(:last-child) {
    border-bottom: 1px solid var(--accordion-border-color);
}

:host([focus-ring]) [part="summary"] {
    box-shadow: 0 0 0 2px var(--focus-color);
}

[part="summary"] {
    color: var(--lumo-body-text-color);
    font-size: var(--lumo-font-size-s);
    font-weight: normal;
    min-height: var(--lumo-size-m);
    padding: var(--lumo-space-s) 0;
}

[part="summary"]:hover {
    background-color: var(--accordion-hover-bg);
}

[part="summary-content"] {
    margin-inline-start: var(--lumo-space-m);
}

[part="toggle"] {
    color: currentColor;
    margin: 0 0 0 var(--lumo-space-s);
    transform: rotate(90deg);
}

:host([theme~="reverse"]) [part="toggle"] {
    margin: 0 var(--lumo-space-m) 0 0;
}

:host([opened]) [part="toggle"] {
    transform: rotate(-90deg);
}

[part="content"] {
    padding: var(--lumo-space-s) var(--lumo-space-m) var(--lumo-space-l) var(--lumo-space-m);
}

:host([disabled]) {
    border-color: var(--accordion-disabled-border-color);
}

@media (hover: hover) {
    :host(:not([disabled])) [part="summary"]:hover,
    :host(:not([disabled])) [part="summary"]:hover [part="toggle"] {
        color: var(--lumo-body-text-color);
    }
}
