:host {
    --_vaadin-combo-box-items-container-border-width: 0;
}

[part="overlay"] {
    background-color: var(--overlay-bg);
    background-image: none;
    box-shadow: var(--lumo-box-shadow-m);
}
